@import '@legends/styles/base.scss';

.title {
  margin-bottom: 0.75rem;
  font-family: $primaryFont;
  color: $primaryText;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  line-height: 1.625rem;
  font-weight: 500;
}
