@import '@legends/styles/base.scss';

.wrapper {
  margin-bottom: 1.5rem;

  .items {
    display: flex;
    align-items: center;
    gap: 1rem;

    .item {
      flex: 1;
      padding: 0.75rem 1rem;
      border-radius: $secondaryBorderRadius;
      background-color: $secondaryBackground;
      border: 1px solid $primaryBorder;

      .itemTitle {
        display: block;
        color: $secondaryText;
        font-family: $secondaryFont;
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin-bottom: 0.5rem;
      }

      .progress {
        position: relative;
        height: 1.5rem;
        width: 100%;
        border-radius: $primaryBorderRadius;
        background-color: $tertiaryBackground;
        overflow: hidden;

        .progressCurrent,
        .progressMax {
          position: absolute;
          right: 0.5rem;
          top: 50%;
          transform: translateY(-50%);
          font-size: 0.75rem;
          font-family: $primaryFont;
          font-weight: 500;
        }

        .progressFill {
          position: relative;
          background-color: $accent;
          height: 100%;
        }

        .progressCurrent {
          color: $alternativeText;
        }

        .progressMax {
          color: $secondaryText;
        }
      }

      .rewardRateAndFormula {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .rewardRate,
        .rewardFormula {
          font-family: $primaryFont;
        }
        .rewardRate {
          font-size: 1rem;
          color: $primaryText;
          font-weight: 500;
        }
        .rewardFormula {
          font-size: 0.75rem;
          color: $tertiaryText;
        }
      }
    }
  }
}
