@import '@legends/styles/base.scss';

.wrapper {
  margin-bottom: 1.5rem;

  .items {
    display: flex;
    align-items: center;
    gap: 1rem;

    .item {
      flex: 1;
      padding: 0.75rem 1rem;
      border-radius: $secondaryBorderRadius;
      background-color: $secondaryBackground;
      border: 1px solid $primaryBorder;

      .itemTitleRow {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .itemTitle {
          display: block;
          color: $secondaryText;
          font-family: $secondaryFont;
          font-size: 0.875rem;
          line-height: 1.25rem;
          margin-bottom: 0.5rem;
        }
        .progressText {
          font-size: 0.75rem;
          color: $secondaryText;
        }
      }

      .progress {
        position: relative;
        height: 1.5rem;
        width: 100%;
        border-radius: $primaryBorderRadius;
        background-color: $tertiaryBackground;
        overflow: hidden;

        .progressFill {
          position: relative;
          background-color: $accent;
          height: 100%;
        }
      }

      .rewardRateAndFormula {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .rewardRate,
        .rewardFormula {
          font-family: $primaryFont;
        }
        .rewardRate {
          font-size: 1rem;
          color: $primaryText;
          font-weight: 500;
        }
        .rewardFormula {
          font-size: 0.875rem;
          color: $tertiaryText;
        }
      }
    }
  }
}
