.button-pressable {
    display: none;
}

.token-container:hover {
    background-color: #B6B9FF26;
    border-color: #6770B333 !important;

}

.rewards-token-container {
    background: transparent linear-gradient(90deg, #6000FF1A 0%, #FFFFFF 56%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
}

.rewards-token-container:hover {
    background: transparent linear-gradient(90deg, #6000FF1A 0%, #FFFFFF 96%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
}

.token-container:hover .button-pressable,
.rewards-token-container:hover .button-pressable {
    display: flex;
}


.token-container:hover #information-icon-path,
.rewards-token-container:hover #information-icon-path {
    fill: #B6B9FF
}
