# The Ambire relayer for all EVM chains. Responsible for managing on-chain
# Identities (called "Ambire accounts") and relaying gasless transactions
# to the Ethereum network. It is not intended to be blockchain-agnostic,
# and it is Ethereum-specific.
RELAYER_URL=""
APP_RELAYRLESS="false"

COINGECKO_PRO_API_KEY=""

# Ambire specific static constants, shared between all Ambire apps
CONSTANTS_ENDPOINT=""

# Integrated decentralized exchange (DEX) in Ambire that allows users to
# buy, sell and swap crypto assets.
SWAP_URL=""

# In blockchain terms, an RPC allows access to a server node on the specified
# network and allows app to communicate and interact with that blockchain.
RPC_URL_ETHEREUM=""
RPC_URL_POLYGON=""
RPC_URL_AVALANCHE=""
RPC_URL_BNB_CHAIN=""
RPC_URL_FANTOM=""
RPC_URL_MOONBEAM=""
RPC_URL_MOONRIVER=""
RPC_URL_ARBITRUM=""
# RPC_URL_GNOSIS=""
RPC_URL_GNOSIS=""
RPC_URL_KUCOIN=""
RPC_URL_OPTIMISM=""
RPC_URL_ANDROMEDA=""
RPC_URL_RINKEBY=""
RPC_URL_CRONOS=""
RPC_URL_AURORA=""
RPC_URL_ETHEREUM_POW=""

# The Zapper API provides DeFi related data, everything from liquidity
# and prices on different AMMs to complex Defi protocol balances.
ZAPPER_API_ENDPOINT=""
ZAPPER_API_KEY=""
# Alternative to Zapper, developed by Ambire. Serves the same purpose.
VELCRO_API_ENDPOINT=""

# Ramp Network enables exchange of traditional currencies into cryptocurrencies
RAMP_HOST_API_KEY=""

# Transak is a developer integration toolkit to let users buy / sell crypto
TRANSAK_API_KEY_STAGING=""
TRANSAK_API_KEY_PROD=""

# Paytrie allows clients to exchange Canadian dollars (CAD) for stablecoins
PAYTRIE_PARTNER_URL=""

# Sentry is application monitoring and error tracking app
SENTRY_DSN=""

# Possible log level descriptors, may be string, lower or upper case, or number.
# There are 6 levels: 'trace' | 'debug' | 'info' | 'warn' | 'error' | 'silent'.
# This disables all logging below the given level, so that after a
# log.setLevel("warn") call log.warn("something") or log.error("something")
# will output messages, but log.info("something") will not.
BROWSER_EXTENSION_LOG_LEVEL_PROD="warn"
BROWSER_EXTENSION_LOG_LEVEL_DEV="trace"

# This value can be used to control the unique ID of an extension, when it is
# loaded during development. In prod, the ID is generated in Chrome Web Store
# and can't be changed (could be retrieved from Chrome Web Store).
# In DEV, it is generated based on a key.pem using the following method:
# {@link https://stackoverflow.com/a/46739698/1333836}
BROWSER_EXTENSION_PUBLIC_KEY=""

# The bundler api key for ERC-4337 broadcasts
REACT_APP_PIMLICO_API_KEY=

# Block explorer for user operations. We use it's API to fetch the
# txnId for the userOpHashes in benzina and activity.ts
REACT_APP_JIFFYSCAN_API_KEY=