@import '@legends/styles/base.scss';

$centerSlideSize: 26.25rem;
$adjacentSlideSize: 17.5rem;
$smallerSlideSize: 12rem;

.wrapper {
  text-align: center;
  margin-bottom: 2rem;

  :global(.swiper) {
    @include container;
    position: relative;
    display: flex;
    height: $centerSlideSize;

    :global(.swiper-wrapper) {
      align-items: center;
    }
  }

  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    // All slides are the same size. Only images are
    // scaled based on the selected slide
    width: $smallerSlideSize;
    height: $smallerSlideSize;

    // // Center slide
    &:global(.swiper-slide-active) {
      z-index: 10;
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 2rem;

    .character {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
      filter: brightness(0) contrast(60%); // Simulate $primaryText color

      &.adjacent {
        transform: translateX(10%);

        &.left {
          transform: translateX(-10%);
        }

        .image {
          height: 17.5rem;
          width: 17.5rem;
          object-fit: cover;
          object-position: top;
        }
      }

      &.selected {
        position: relative;
        z-index: 2;
        filter: none;
        width: $centerSlideSize;
        height: $centerSlideSize;

        .image {
          height: $centerSlideSize;
          width: $centerSlideSize;
          max-width: unset;
        }

        .characterRelativeWrapper {
          position: relative;

          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 52%;
            transform: translateX(-50%);
            width: 16rem;
            height: 3.5rem;
            border-radius: 50%;
            background-color: $tertiaryBackground;
            z-index: 1;
            box-shadow: inset 0 0.25rem 0.25rem $primaryBorder;
          }
        }
      }

      .image {
        position: relative;
        z-index: 2;
        width: $smallerSlideSize;
        height: $smallerSlideSize;
        object-fit: contain;
        transition: all 0.2 ease-in-out;
      }
    }

    .button {
      cursor: pointer;
      align-self: flex-start;
      padding-top: 6rem;
    }
  }

  .name {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.25rem;
    color: $primaryText;
    text-transform: uppercase;
    font-family: $secondaryFont;
  }

  .description {
    font-family: $secondaryFont;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.2188rem;
    text-align: center;
    max-width: 33.75rem;
    margin: 0 auto;
  }
}
