@import '@legends/styles/base.scss';

.wrapper {
    text-align: center;
    margin-bottom: 2rem;

    .swiper {
        width: 100%;
        max-width: 82rem;
        position: relative;
        display: flex;
        .swiper-slide {
            height: 100%;
        }
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .character {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
            filter: brightness(0);

            flex-grow: 0;
            flex-basis: 10rem;

            &.selected {
                z-index: 2;          
                filter: brightness(1);
                height: 30rem;
                transform: scale(1.2);
                flex-grow: 3; 
                flex-basis: 16rem; 
               
                .characterRelativeWrapper {
                    position: relative;
                    
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -2rem;
                        left: 52%;
                        transform: translateX(-50%);
                        width: 16rem;
                        height: 3.5rem;
                        border-radius: 50%;
                        background-color: $tertiaryBackground;
                        z-index: 1;
                        box-shadow: inset 0 0.25rem 0.25rem $primaryBorder;
                    }
            
                    .image {
                        position: relative;
                        z-index: 2;
                    }
                }
            } 

            &.adjacent {
                opacity: 0.5;
                flex-grow: 2; 
                flex-basis: 12rem;
                transform: scale(1);
              }
        
              &.smaller {
                opacity: 0.5;
                flex-grow: 1; 
                flex-basis: 8rem;
                transform: scale(0.8);
            }
              
         
        }

        .button {
            cursor: pointer;
        }
    }

    .name {
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 2.25rem;
        color:#000000;
        text-transform: uppercase;
        font-family: $secondaryFont;
    }

    .description {
        font-family: $secondaryFont;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.2188rem;
        text-align: center;
        max-width: 33.75rem;
        margin: 0 auto;
    }

}