@import '@legends/styles/base.scss';

.error {
  margin-bottom: 1.5rem;
}

.wrapper {
  display: flex;
  position: relative;
  margin-bottom: 3rem;
  padding-top: 2rem;

  .characterInfo {

    .characterNameWrapper {
      margin-bottom: 3rem;
      display: flex;
      gap: .75rem;
    }

    .infoIcon {
      border: 1px solid $primaryText;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      text-align: center;
      font-size: 1.2rem;
      align-self: flex-start;
      cursor: pointer;
    }
    .kicker {
      font-size: 1rem;
      font-weight: 600;
      color: $tertiaryText;
    }

    .characterName {
      font-family: $secondaryFont;
      font-size: 4rem;
      line-height: 1.2;
      font-weight: 500;
      color: $primaryText;
      text-transform: capitalize;

      &.small {
        font-size: 3rem;
      }
    }

    .characterLevelInfoWrapper {
      .characterItemWrapper {
        display: flex;
        margin-bottom: 4rem;

        .icon {
          margin-right: 2.5rem;
        }

        .iconCoin {
          align-self: center;
        }

        .characterItem {
          display: flex;
          flex-direction: column;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.5rem;
          text-align: left;
          color: $secondaryText;
          align-self: end;
        }

        .levelWrapper {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;

          .levelInfoTop {
            margin-bottom: 0.5rem;
          }

          .levelInfo {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .level {
              color: $secondaryText;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.5rem;
              text-align: left;
            }
          }

          .levelProgress {
            flex: 1;
            padding: 1rem 1.5rem;
            border-radius: $secondaryBorderRadius;
            background-color: $secondaryBackground;
            border: 0.0625rem solid $primaryBorder;
            overflow: hidden;
            position: relative;
            min-width: 17.9375rem;
            font-size: 2.25rem;
            font-weight: 500;
            line-height: 2.75rem;
            text-align: center;
            color: $primaryText;
            margin-bottom: 0.5rem;

            .xp {
              position: relative;
              font-size: 2.75rem;
              font-weight: 500;
              line-height: 2.75rem;
              text-align: left;
              z-index: 2;
              color: $primaryText;
            }

            .levelProgressBar {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
              height: 100%;
              background-color: $secondaryAccent200;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              white-space: nowrap;
              transition: width 0.3s ease;
            }
          }
        }
      }

      .item {
        min-width: 9.625rem;
        padding: 1rem 1.5rem;
        border-radius: $secondaryBorderRadius;
        background-color: $secondaryBackground;
        border: 1px solid $primaryBorder;
        font-size: 2.25rem;
        font-weight: 500;
        line-height: 2.75rem;
        text-align: center;
        color: $primaryText;
        margin-bottom: 0.5rem;

        .itemTitleRow {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .itemTitle {
            display: block;
            color: $secondaryText;
            font-family: $secondaryFont;
            font-size: 0.875rem;
            line-height: 1.25rem;
            margin-bottom: 0.5rem;
          }

          .progressText {
            font-size: 0.75rem;
            color: $secondaryText;
          }
        }
      }
    }

    .characterAbout {
      font-size: 1rem;
      color: $secondaryText;
      line-height: 1.5;
      margin-bottom: 0.5rem;
    }
  }

  .character {
    position: absolute;
    right: 0;
    bottom: 0;

    .characterRelativeWrapper {
      position: relative;

      .characterImage {
        position: relative;
        z-index: 2;
        width: 27.875rem;
        height: 36.4375rem;
        object-fit: contain;
      }
    }
  }

  @include breakpoint-down-from(small-desktop) {
    padding-top: 1rem;

    .characterInfo {
      .characterName {
        font-size: 3rem;
      }

      .characterAbout {
        font-size: 0.875rem;
      }
    }

    .character {
      .characterRelativeWrapper {
        &::before {
          width: 18.75rem;
          height: 4.6875rem;
        }
      }
    }
  }
}
