@import '@legends/styles/base.scss';

.paginationWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;

    .button {
      .icon {
        color: $silverBackground;
      }
      
      @include button;
      width: 2rem;
      height: 2rem
      
     
    }

    .pages {
      display: flex;
      gap: .5rem;
      padding: 0 0.5rem;

      .pageButton {
        width: 2.625rem;
        height: 2.375rem;
        @include primary-button;
        border-radius: $primaryBorderRadius;
        background-color: $tertiaryBackground;

        &.dots {
          background: none;
        }
        
        &.active {
          border: none;
          color: $whiteText;
          background: $hover;
        }
      }
    }
  }

  .visibleTransactionsText {
    color: $tertiaryText;
    text-align: right;
  }
}
