@import '@legends/styles/base.scss';

.info {
  font-weight: bold;
  font-size: 1.5rem;
}

.infoWarning {
  color: $warning;
}

.successful {
  color: $success;
}

.unaccepted {
  color: $warning;
}

.pending {
  color: $info;
}

.ml {
  margin-left: 0.5rem;
}
