@import '@legends/styles/base.scss';

.historyWrapper {
  background-color: $tertiaryBackground;
  border-radius: 0.5rem;
  padding: 1.5rem;
  height: 100%;
}
.invitationItem {
  display: flex;
}

.accepted {
  color: #62804d;
}

.expired {
  color: #991e1e;
}

.pending {
  color: #b38824;
}

.floatLeft {
  margin-right: auto;
}

.bold {
  font-weight: 500;
}
.mr {
  margin-right: 0.25rem;
}
.ml {
  margin-left: 0.5rem;
}

.mb {
  margin-bottom: 1rem;
}

.heading {
  font-size: 20px;
  margin-bottom: 1rem;
}
