html,
body,
#root {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex: 1;
}

input {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #dddff7;
  border-radius: 13px;
}

::-webkit-scrollbar-thumb {
  background: #6770b354;
  border-radius: 13px;
}
