@import '@legends/styles/base.scss';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 27.5rem;
  background-color: $secondaryBackground;

  .completed {
    background-color: rgba(0, 0, 0, 0.5); // TODO: Use a variable
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    border-radius: $secondaryBorderRadius;
    user-select: none;

    .completedText {
      font-size: 1.5rem;
      font-weight: 600;
      color: $alternativeText;
    }
  }

  .imageAndBadges {
    position: relative;
    width: 100%;
    height: 11.25rem;

    .badges {
      position: absolute;
      left: 0.75rem;
      top: 0.75rem;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $secondaryBorderRadius $secondaryBorderRadius 0 0;
    }
  }
  .contentAndAction {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem 1.25rem 1.25rem;
    border: 1px solid $primaryBorder;
    border-top: none;
    border-radius: 0 0 $secondaryBorderRadius $secondaryBorderRadius;

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;

      .heading {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }
      .description {
        // Always take two lines of text
        line-height: 1.25rem;
        height: 2.5rem;
        margin-bottom: 0.75rem;
        font-size: 0.875rem;
        color: $secondaryText;

        .readMore {
          display: inline;
          font-size: inherit;
          font-weight: inherit;
          line-height: inherit;
          color: $secondaryAccent;
        }
      }
      .rewardsHeading {
        line-height: 1.25rem;
        margin-bottom: 0.5rem;
        font-family: $secondaryFont;
        font-size: 0.875rem;
        color: $secondaryText;
        font-weight: 600;

        .repeatableIcon {
          display: inline;
          color: $secondaryText;
        }
      }
      .rewards {
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        &.mb {
          margin-bottom: 1.5rem;
        }

        .reward {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 1.75rem;
          width: 100%;
          background-color: $tertiaryBackground;
          border-radius: $primaryBorderRadius;
          padding: 0 0.5rem;

          .rewardLabel,
          .rewardValue {
            font-family: $primaryFont;
            font-size: 0.75rem;
          }

          .rewardLabel {
            color: $secondaryText;
          }
          .rewardValue {
            color: $primaryText;
          }
        }
      }
    }
  }
}
