@import '@legends/styles/base.scss';

.link {
  color: $success;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.copyField {
  background-color: $primaryBackground;
  border: 1px solid $primaryBorder;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: start;
}

.copyIcon {
  cursor: pointer;
}

.copySectionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.button {
  @include primary-button;
  font-size: 1rem;
  color: $secondaryAccent;
}
