@import '@legends/styles/base.scss';

.backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop;
  display: flex;
  justify-content: center;
  align-items: center;
  // Don't touch this, it works too well
  font-size: min(1.8vh, 1.2vw);
  transform: scale(1);
}

.wrapper {
  position: relative;
  width: 46.5625rem;
  height: 42.1875rem;
  transform: scale(0.85);

  background-color: $neutral-700;
  border-radius: $tertiaryBorderRadius;
  border: 0.25rem solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient($secondaryBackground, $secondaryBackground), 
                    linear-gradient(152.35deg, rgba(207, 162, 255, 0.6) 9.38%, rgba(78, 25, 168, 0.6) 96.89%);
  padding: 2rem;
  display: flex;
  flex-direction: column;


  .backgroundEffect {
    position: absolute;
    opacity: 0.5;
    left: 0rem;
    top: 6rem;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30.375rem;
    height: 28.8125rem;
  }
  .streak {
    position: absolute;
    display: flex;
    align-items: center;
    width: 7rem;
    height: 4.375rem;

    top: -3.5625rem;
    right: 42%;
    z-index: 10;
    background-size: cover;

    .streakNumber {
      text-align: center;
      position: absolute;
      left: 30%;
      top: 20%;
      width: 2.75rem;
      z-index: 11;
      font-size: 2rem;
      line-height: 1rem;
      font-weight: 500;
      color: $yellowText;
      text-shadow: 0.0925rem 0.225rem $purple-600;
      display: flex;

    }

    .streakLabel {
      position: absolute;
      bottom: .1875rem;
      right: .25rem;
      width: 7rem;
      height: 1.5625rem;
      z-index: 11;
      font-size: .8125rem;
      font-weight: 500;
      line-height: 1rem;
      text-align: center;
      color: $neutral-300;
      background-color: $purple-600;
      display: flex;
      align-items: center;
      gap: .1875rem;
      padding: .5rem;
      border-radius: 3.125rem;
    }
  }
  
  .header {
    display: flex;

    .heading {
      font-size: 4rem;
      font-weight: 500;
      line-height: 5.44rem;
      margin: 0 auto 1rem auto;
    }

    .closeButton {
      align-self: baseline;
      svg {
        rect {
          stroke: $secondaryText;
        }
        
        path {
          fill: $secondaryText;
        }
      }
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 4.25rem;

    .day {
        border-radius: $secondaryBorderRadius;
        background-color: rgba($neutral-600, 0.08);
        // TODO: add variable
        border: .0625rem solid #9298B44D;

        padding: .75rem;
        border-radius: .375rem;
        min-width: 5rem;

        .icon {
          display: flex;
          justify-content: center;
          gap: 0.25rem;
          font-size: 1.25rem;
          color: $whiteText;
          margin-bottom: .75rem;
          font-weight: 500;
        }

        .dayText {
          color: $whiteText;
          font-size: .75rem;
          font-weight: 400;
          text-align: center;
        }

        .xpText {
          color: rgba($whiteText, 0.5);
          font-size: .75rem;
          vertical-align: text-top;
          font-weight: 400;
        }
    }

    .passed {
      background-color: rgba($secondaryAccent, 0.08);
      border: .0625rem solid rgba(28, 81, 11, 1);

      .dayText {
        color: $whiteText;
      }
    }

    .current {
      border: .125rem solid $purpleText;
      .icon {
        color: $purpleText;
      }

      .dayText {
        font-weight: 700;
      }
    }
  }

  .chestWrapper {
    display: flex;
    position: relative;
    margin-bottom: 3.4375rem;
    justify-content: center;

    .chest {
      height: 14.6875rem;
    }

    .chain {
      position: absolute;
      width: 19.375rem;
      height: 7.86rem;
      top: 10.8125rem;
      left: 12.8125rem;
      
      transition: transform 10s ease-out;
      animation: tease 5s infinite;
      animation-delay: 2s;
      &.unlocking {
        animation: none;
      }
      &.unlocked {
        animation: unlock 1s forwards;
      }
    }
  }

  .button {
    @include primary-button;
    font-size: 1rem;
    align-self: center;
    max-width: 18.75rem;
  }
}


@keyframes tease {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-3deg);
  }
  20% {
    transform: rotate(3deg);
  }
  30% {
    transform: rotate(-3deg);
  }
  40%,
  100% {
    transform: rotate(0deg);
  }
}

@keyframes unlock {
  0% {
    transform: rotate(0deg) translateY(0);
    opacity: 1;
  }
  100% {
    transform: rotate(20deg) translateY(4em);
    opacity: 0;
  }
}
