@import '@legends/styles/base.scss';

.wrapper {
  .leftLabel {
    margin-left: auto;
  }

  .label {
    color: $whiteText;
  }
  .inputWrapper {
    background-color: $charcoal;
    display: flex;
    align-items: stretch;
    border-radius: .5rem;
    border: 0.0625rem solid $hover-dark;

    .input {
      flex: 1;
      border: none;
      border-radius: .5rem;
    }

    .domainsIcons {
      display: flex;
      align-items: center;
      padding-left: 0.5rem;
      padding-right: 1rem;

      .ensIcon {
        color: $secondaryText;
        margin-right: 0.5rem;
      }
    }
  }
}
