@import '@legends/styles/base.scss';

.wrapper {
  .inputWrapper {
    background-color: $tertiaryBackground;
    display: flex;
    align-items: stretch;
    border-radius: $primaryBorderRadius;
    border: 0.0625rem solid $primaryBorder;

    .input {
      background-color: transparent;
      flex: 1;
      border: none;
      border-radius: $primaryBorderRadius 0 0 $primaryBorderRadius;
    }

    .domainsIcons {
      display: flex;
      align-items: center;
      padding-left: 0.5rem;
      padding-right: 1rem;

      .ensIcon,
      .udIcon {
        color: $secondaryText;
      }

      .ensIcon {
        margin-right: 0.5rem;
      }
    }
  }
}
