@import '@legends/styles/base.scss';

.container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.wheel {
  border: 0.25rem solid $accent;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  &.primaryBackground {
    border-color: $primaryBackground;
    border-bottom-color: transparent;
  }
  &.secondaryBackground {
    border-color: $secondaryBackground;
    border-bottom-color: transparent;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
