@mixin button {
  border-radius: $primaryBorderRadius;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  background-color: $primaryBackground;
  border: 2px solid $secondaryText;
  box-shadow: 0 2.5px 0 $secondaryText;
  color: $secondaryText;
  font-weight: 600;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:active:not(:disabled) {
    opacity: 1;
  }
}

@mixin primary-button {
  @include button;
  height: 3.375rem;
  color: $secondaryAccent;

  &:not(:disabled) {
    &:hover {
      background-color: $secondaryBackground;
    }
    &:active {
      transform: translateY(0.125rem);
      box-shadow: none;
    }
  }
}
@mixin secondary-button {
  @include button;
  gap: 0.25rem;
  font-size: 0.875rem;
  line-height: 1rem;
  height: 2.25rem;
  width: 100%;
  text-transform: uppercase;

  svg {
    font-size: 0.875rem;
  }
}
@mixin container {
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
}

@mixin on-mobile {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin breakpoint-from($breakpoint) {
  @if $breakpoint == tablet {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $breakpoint == large-tablet {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $breakpoint == small-desktop {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $breakpoint == medium-desktop {
    @media (min-width: 1400px) {
      @content;
    }
  } @else if $breakpoint == large-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

// Reverse of breakpoint-from. Will be more useful because
// legends isn't mobile-first and responsive.
@mixin breakpoint-down-from($breakpoint) {
  @if $breakpoint == tablet {
    @media (max-width: 899px) {
      @content;
    }
  } @else if $breakpoint == large-tablet {
    @media (max-width: 1199px) {
      @content;
    }
  } @else if $breakpoint == small-desktop {
    @media (max-width: 1399px) {
      @content;
    }
  } @else if $breakpoint == medium-desktop {
    @media (max-width: 1799px) {
      @content;
    }
  } @else if $breakpoint == large-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}
