// Colors
// Some colors are used within React and marked with a comment. Example:
/*
  ... React code
  // @SCSS-VAR: $primaryText
  ... React code
*/
// Make sure you update the hardcoded values in the React code as well.
$primaryText: #292116;
$secondaryText: #524634;
$tertiaryText: #93897a;
$alternativeText: #efefef;
$primaryBorder: #ebdeca;
$secondaryBorder: #c9c5be;
$tertiaryBorder: #706048;
$primaryBackground: #faf6f0;
$secondaryBackground: #f5ede2;
$tertiaryBackground: #efe3d3;
$accent: #e75132;
$secondaryAccent: #1c510b;
$secondaryAccent200: #d8ebca;
$bronzeBackground: #f5d4b5;
$bronzeDecorative: #d08d4c;
$bronzeText: #8a6037;
$silverBackground: #e8e6e3;
$silverDecorative: #b0aca4;
$silverText: #686663;
$goldBackground: #f8e3b7;
$goldDecorative: #e7aa27;
$goldText: #b67d02;
$blackText: #000000;
$backdrop: rgba($primaryText, 0.75);
$primaryBadgeBackground: #2c567d;
$primaryBadgeDecorative: #113a60;
$secondaryBadgeBackground: #7d2c2d;
$secondaryBadgeDecorative: #601119;

// Landing colors
// These colors are here in hopes that
// they the two colors schemes will be merged in the future.
$landingBoxShadow: #372f23;
$landingAccent: #374d26;

$success: #4e9200;
$warning: #ba8315;
$error: #e33535;
$info: #1a66df;

$primaryGradient: linear-gradient(
  90deg,
  #d8b98c 0%,
  #ffe8c6 27%,
  #fff 46%,
  #f7d7a7 65%,
  #7f643d 100%
);

$secondaryGradient: linear-gradient(90deg, #fee852 0%, #f6b92e 64%, #d19a3a 100%);

// Typography
$primaryFont: 'Sentient', serif;
$secondaryFont: 'Sentient', serif;

// Other
$primaryBorderRadius: 0.375rem;
$secondaryBorderRadius: 0.75rem;
$tertiaryBorderRadius: 2rem;
