// Colors
$primaryText: #333131;
$secondaryText: #5c5954;
$tertiaryText: #79766f;
$primaryBorder: #baafac;
$secondaryBorder: #2a3041;
$primaryBackground: #f1eee5;
$secondaryBackground: #f2e9db;
$tertiaryBackground: #eaddc9;
$accent: #e75132;
$bronzeBackground: #f9dbc5;
$bronzeDecorative: #d08d4c;
$bronzeText: #8a6037;
$silverBackground: #e8e6e3;
$silverDecorative: #b0aca4;
$silverText: #686663;
$goldBackground: #f8e3b7;
$goldDecorative: #e7aa27;
$goldText: #b67d02;
$backdrop: rgba($primaryText, 0.75);

// Typography
$primaryFont: 'Roboto Slab', serif;
$secondaryFont: 'Vollkorn', serif;

// Other
$primaryBorderRadius: 0.375rem;
$secondaryBorderRadius: 0.75rem;
