@import '@legends/styles/base.scss';

.wrapper {
  margin-bottom: 4.5rem;

  .titleAndButtons {
    @include container;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    .title {
        margin-bottom: 0;
    }
    .buttons {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .button,
      .arrowButton {
        background-color: #191a1f;
        border-radius: 0.5rem;
      }

      .button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 400;
        height: 2.5rem;
      }

      .arrowButton {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primaryText;
      }
    }
  }
  :global(.swiper) {
    margin-left: calc((100% - 62.5rem) / 2);
    position: relative;
    display: flex;
    padding-left: 0.25rem; // Otherwise the card effect isn't visible

    :global(.swiper-wrapper) {
      align-items: center;
      transition-duration: 0.2s !important;
      /*Ease-out for scrolling, big difference when changed*/
    }

    :global(.swiper-slide) {
      @include breakpoint-from(medium-desktop) {
        width: 17.3125rem;
      }
    }
  }

  .slide {
    width: auto;
    height: 14.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include breakpoint-down-from(medium-desktop) {
    padding-left: 3rem;

    .titleAndButtons {
      margin-left: 0;
      margin-right: 3rem;
      box-sizing: border-box;
      width: auto;
    }

    :global(.swiper) {
      margin-left: 0;
    }
  }

  @include breakpoint-down-from(large-tablet) {
    .titleAndButtons {
      margin-right: 0;
    }
  }

  @include breakpoint-down-from(tablet) {
    padding-left: 0;
    .slide {
      width: 100%;
    }
  }
}
