@import '@legends/styles/base.scss';

.wrapper {
  display: flex;
  justify-content: center;
}

.input {
  background-color: $tertiaryBackground;
  height: auto;
  flex: 1;
  border: 0.0625rem solid $primaryBorder;
  border-radius: $primaryBorderRadius 0 0 $primaryBorderRadius;
}

.openFormButton {
  margin-right: 3rem;
  flex: 1;
  height: 50%;
}
