@import '@legends/styles/base.scss';

.scrollableHistory {
  flex-wrap: wrap;
  max-height: 10rem;
  overflow-y: auto;
  padding-right: 0.625rem;

  .invitationItem {
    display: flex;
    width: 100%;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 0.5rem;
    .timeAgo {
      margin-left: auto;
      color: $tertiaryText;
    }

    .address {
      color: $secondaryText;
    }
  }
}

.scrollableHistory::-webkit-scrollbar {
  width: 0.5rem;
}

.scrollableHistory::-webkit-scrollbar-track {
  background: $tertiaryBackground;
  border-radius: $primaryBorderRadius;
}

.scrollableHistory::-webkit-scrollbar-thumb {
  background: $secondaryBorder;
  border-radius: 0.5px;
}

.scrollableHistory::-webkit-scrollbar-thumb:hover {
  background: $silverDecorative;
}
