/*
 * CSS-Only Toggle Switch
 * {@link https://dev.to/dcodeyt/creating-a-css-only-toggle-switch-5cg3}
 */
.toggle {
  align-items: center;
  --width: 25px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height));

  display: flex;
  cursor: pointer;
}
.toggle__input {
  display: none;
}
.toggle__fill {
  margin-right: 15px;
  padding: 2px;
  display: inline-block;
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #f7f8ff;
  transition: border 0.2s;
  border: 2px solid #2d314da6;
}
.toggle__fill::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  height: var(--height);
  width: var(--height);
  background: #2d314da6;
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}
.toggle__input:checked ~ .toggle__fill {
  border-color: #6000ff;
}
.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
  background: #6000ff;
}
