/*
 * CSS-Only Toggle Switch
 * {@link https://dev.to/dcodeyt/creating-a-css-only-toggle-switch-5cg3}
 */
.toggle {
  align-items: center;
  --width: 28px;
  --height: 12px;
  --border-radius: 13px;

  display: flex;
  cursor: pointer;
}
.toggle__input {
  display: none;
}
.toggle__fill {
  margin-right: 15px;
  padding: 2px;
  display: inline-block;
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  transition: border 0.2s;
}
.toggle__inner {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  height: var(--height);
  width: var(--height);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}
.toggle__input:checked + .toggle__fill {
  background: #ddd;
  border: 2px solid #6000ff;
}
.toggle__input:checked + .toggle__fill .toggle__inner {
  transform: translateX(var(--height));
  background: #6000ff;
}
