@import '@legends/styles/base.scss';

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
.spinnerContainer {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
