@import '@legends/styles/base.scss';

.modal {
  min-width: 40rem;
}
.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modalText {
  text-align: center;
  font-size: 1rem;
}
.modalHeading {
  font-size: 1.3rem;
}
.text {
  font-weight: 600;
  margin-bottom: 1rem;
  color: $primaryText;
}

.message {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0;
  text-align: center;
}

.progressBarContainer {
  width: 100%;
  background-color: $primaryBackground;
  border-radius: $primaryBorderRadius;
  overflow: hidden;
  margin-top: 1rem;
  border: 0.0625rem solid $secondaryBorder;

  background-color: $secondaryBackground;
  border-radius: 0.25rem;
  overflow: hidden;

  .progress {
    height: 0.625rem;
    background-color: $accent;
    width: 0;
    transition: width 0.3s ease;
  }
}

.title {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 600;
  color: $primaryText;
  margin-bottom: 1rem;
  text-align: center;
}

.description {
  line-height: 1.5;
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  color: $secondaryText;
}
.button {
  @include primary-button;
  font-size: 1rem;
  color: $secondaryAccent;
}

.stackedWrapper {
  margin-bottom: 1rem;
  display: flex;
  justify-content: end;
}
