@import '@legends/styles/base.scss';

.rouletteContainer {
    position: relative;
    width: 100%;
    max-width: 31.6875rem;
    aspect-ratio: 1;
    margin: 0 auto;
}

.rouletteContainer > div {
    transform: rotate(-46deg);
    width: 100%;
    height: 100%;
    max-width: unset;
    max-height: unset;
}
 
.heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.25rem;
}

.text {
    text-align: center;
}

.button {
    @include primary-button;
}