@import '@legends/styles/base.scss';

.wrapper {
  text-align: center;
  max-width: 82rem;
  margin: 0 auto;
  padding: 8rem 4rem 4rem 4rem;
  height: 100vh;

  .backgroundEffect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2.6375rem;
    text-align: center;
    margin-bottom: 1rem;
    color: $mainText;
  }

  .description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3931rem;
    max-width: 44.5rem;
    margin: 0 auto 4rem;
    color: $mainText;
  }
}
.saveButton {
  @include primary-button;
  width: 16.5rem;
  margin: 0 auto;
}

@media screen and (max-height: 900px) {
  .wrapper {
    padding-top: 4rem;
  }
}
