@import '@legends/styles/base.scss';

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wrapper {
  position: absolute;
  z-index: 3;
  background-color: $secondaryBackground;
  border-right: 1px solid $primaryBorder;
  width: 18.875rem;
  padding: 1rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  transition: left 0.3s, opacity 0.2s;

  &:not(.open) {
    left: -50%;
    opacity: 0;
    pointer-events: none;
  }

  &.open {
    left: 0;
    opacity: 1;
    pointer-events: auto;
  }

  .top {
    position: relative;
    .wheelOfFortuneWrapper {
      background: $primaryGradient;
      background-size: 200% 200%;
      animation: gradientAnimation 4s ease infinite;

      border-radius: $secondaryBorderRadius;
      padding: 0.25rem;
      $innerBorderRadius: calc(#{$secondaryBorderRadius} - 0.25rem);

      .wheelOfFortune {
        position: relative;
        display: flex;
        background-color: $tertiaryBackground;
        border-radius: $innerBorderRadius;

        .wheelImage {
          height: 7.5rem;
          width: auto;
          border-radius: $innerBorderRadius 0 0 $innerBorderRadius;
        }

        .wheelContent {
          padding: 1rem;
          padding-left: 6rem;
          flex: 1;

          .wheelTitle,
          .wheelText {
            display: block;
            color: $primaryBackground;
          }
          .wheelTitle {
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 1.5rem;
            text-transform: uppercase;
          }
          .wheelText {
            font-size: 0.875rem;
            margin-bottom: 0.75rem;
          }
          .wheelButton {
            background: $secondaryGradient;
            border: 2px solid $primaryBackground;
            box-shadow: 0 0.125rem 0 $primaryBackground;
            border-radius: $primaryBorderRadius;
            height: 2.25rem;
            font-weight: 500;
            font-size: 0.875rem;
            width: 100%;
            text-transform: none;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
    .disabled {
      opacity: 0.5;
      animation: none;
      cursor: not-allowed;
      user-select: none;

      .wheelButton {
        pointer-events: none;
      }
    }

    .tooltip {
      background-color: $tertiaryBackground;
      border: 1px solid $primaryBorder;
      border-radius: $primaryBorderRadius;
      padding: 1.25rem 1.5rem;
      font-size: 1rem;
      color: $secondaryText;
      opacity: 1;
    }

    .closeButton {
      position: absolute;
      top: 1rem;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      background-color: $tertiaryBackground;
      border: 1px solid $primaryBorder;
      border-radius: $primaryBorderRadius;
      font-size: 1rem;
      color: $secondaryText;
      cursor: pointer;
    }

    .logo {
      display: block;
      margin: 0 auto;
      margin-bottom: 2rem;
      width: 10rem;
      height: auto;
    }

    .links {
      padding-top: 2rem;
    }
  }

  @include breakpoint-from(large-tablet) {
    position: static;

    &:not(.open) {
      left: 0;
      opacity: 1;
      pointer-events: auto;
    }

    .top {
      .closeButton {
        display: none;
      }
    }
  }

  @media screen and (max-height: 750px) {
    .top {
      .logo {
        width: 10rem;
        height: auto;
      }
      .links {
        padding-top: 1rem;
      }
    }
  }
}
