@import '@legends/styles/base.scss';

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wrapper {
  position: absolute;
  z-index: 3;
  background-color: $secondaryBackground;
  border-right: 1px solid $primaryBorder;
  width: 18.875rem;
  padding: 1rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  transition: left 0.3s, opacity 0.2s;

  &:not(.open) {
    left: -50%;
    opacity: 0;
    pointer-events: none;
  }

  &.open {
    left: 0;
    opacity: 1;
    pointer-events: auto;
  }

  .wheelBanner {
    margin-bottom: 1.25rem;
  }

  .top {
    position: relative;
    .bannerText {
      font-size: .75rem;
      margin-bottom: 0.75rem;
      color: $primaryBackground;
    }
    .disabled {
      opacity: 0.5;
      animation: none;
      cursor: not-allowed;
      user-select: none;

      .wheelButton {
        pointer-events: none;
      }
    }

    .tooltip {
      background-color: $tertiaryBackground;
      border: 1px solid $primaryBorder;
      border-radius: $primaryBorderRadius;
      padding: 1.25rem 1.5rem;
      font-size: 1rem;
      color: $secondaryText;
      opacity: 1;
    }

    .closeButton {
      position: absolute;
      top: 1rem;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      background-color: $tertiaryBackground;
      border: 1px solid $primaryBorder;
      border-radius: $primaryBorderRadius;
      font-size: 1rem;
      color: $secondaryText;
      cursor: pointer;
    }

    .logo {
      display: block;
      margin: 0 auto;
      margin-bottom: 2rem;
      width: 10rem;
      height: auto;
    }

    .links {
      padding-top: 2rem;
    }
  }

  .treasureChestWrapper {
    position: relative;
    margin: 0 auto;
    padding: none;
    padding-top: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    button:hover {
      opacity: 1;
    }

    .chestAvailableLabel {
      position: absolute;
      border: 1px solid $primaryBorder;
      background-color: $primaryBackground;
      padding: .5rem;
      border-radius: .5rem;
      font-size: .875rem;
      font-weight: 500;
      color: $secondaryText; 
    }
  }

  .leaderSection {
    padding-top: 1rem;
    padding-bottom: 1rem;
    .leaderHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.35rem;
    
      .inviteTitle {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
        color: $secondaryText;
      }
    }

    .leaderCopyButton {
      cursor: pointer;
    }

    .leaderInvitationKey {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: .5rem;
      background: $primaryBackground;
      padding: 4px 10px 4px 10px;
      gap: 10px;
      border-radius: 0.5rem;
      border-radius: $primaryBorderRadius;
      border: 1px solid $primaryBorder;

      font-size: 1.1875rem;
      font-weight: 500;
      line-height: 2.0625rem;

    }

    .gradientBorder {
      position: relative;
      border-radius: 10px;
      height: 100%;
      width: 100%;
      
      .gradientBorderInner {
        border: none;
        &::after {
          position: absolute;
          top: -4px; bottom: -4px;
          left: -4px; right: -4px;
          background: linear-gradient(90deg, #D8B98C 0%, #FFE8C6 27%, #FFFFFF 46%, #F7D7A7 65%, #7F643D 100%);
          content: '';
          z-index: -1;
          border-radius: .625rem;
        }
      }
    }

  }
  

  @include breakpoint-from(large-tablet) {
    position: static;

    &:not(.open) {
      left: 0;
      opacity: 1;
      pointer-events: auto;
    }

    .top {
      .closeButton {
        display: none;
      }
    }
  }

  @media screen and (max-height: 750px) {
    .top {
      .logo {
        width: 10rem;
        height: auto;
      }
      .links {
        padding-top: 1rem;
      }
      .treasureChestWrapper {
        padding-top: 0.5rem;
      }
    }
  }

  @media screen and (max-height: 900px) {
    .top {
      .links {
        padding-top: 1rem;
      }
      .treasureChestWrapper {
        padding-top: 1rem;
      }
    }

    .leaderSection {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}
