@import '@legends/styles/base.scss';

.modal {
    width: 61rem;
  }
  .modalHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  
    .modalHeadingTitle {
      color: $primaryText;
      font-size: 3.5rem;
    }
  }
  
  .modalText {
    font-size: 1.25rem;
    line-height: 2rem;
    font-style: italic;
    color: $secondaryText;
    border-radius: $primaryBorderRadius;
    border: 1px solid $tertiaryBorder;
    padding: 0.75rem 0.625rem;
  
    &::first-letter {
      font-size: 2rem;
      text-transform: uppercase;
    }
  }
  .modalAction {
    margin-bottom: 2rem;
  }
  
  .button {
    @include primary-button;
    font-size: 1rem;
    color: $secondaryAccent;
  }
  
  .link {
    color: $success;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  
  .copyField {
    background-color: $primaryBackground;
    border: 1px solid $primaryBorder;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    align-items: start;
  }
  
  .copyIcon {
    cursor: pointer;
  }
  
  .copySectionWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  @include breakpoint-down-from(medium-desktop) {
    .modalHeading {
      margin-bottom: 2rem;
    }
    .modalHeadingTitle {
      font-size: 3rem;
    }
  
    .modalText {
      font-size: 1.125rem;
      line-height: 1.5rem;
  
      &::first-letter {
        font-size: 1.875rem;
      }
    }