@import '@legends/styles/base.scss';

.historyWrapper {
  background-color: $tertiaryBackground;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.scrollableHistory {
  display: flex;
  flex-wrap: wrap;
  // max-height: 12rem;
  overflow-y: auto; /* Enables vertical scrolling */
}

.scrollableHistory::-webkit-scrollbar {
  width: 0.5rem;
}

.scrollableHistory::-webkit-scrollbar-track {
  background: $tertiaryBackground;
  border-radius: $primaryBorderRadius;
}

.scrollableHistory::-webkit-scrollbar-thumb {
  background: $secondaryBorder;
  border-radius: 8px;
}

.scrollableHistory::-webkit-scrollbar-thumb:hover {
  background: $silverDecorative;
}

.invitationItem {
  display: flex;
  min-width: 50%;
  padding: 1rem;
}

.accepted {
  color: #62804d;
}
.timeAgo {
  margin-left: auto;
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
