@import '@legends/styles/base.scss';

.wrapper {
  @include container;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  padding-top: 3rem;

  .socialsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 3rem;

    .topDeco {
      transform: rotate(180deg);
    }

    .socials {
      display: flex;
      justify-content: center;
      gap: 0.75rem;

      .social {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.375rem;
        width: 2rem;
        height: 2rem;
        font-size: 1.25rem;
        color: $primaryText;
        background-color: $tertiaryBackground;
        border-radius: $primaryBorderRadius;
        border: 1px solid $secondaryBorder;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .text {
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.5rem;
      color: $primaryText;
    }
    .logo {
      width: 7.5rem;
      height: auto;
    }
  }

  @include on-mobile {
    padding: 3rem 1.25rem;

    .socialsWrapper {
      .socials {
        gap: 1.25rem;

        .social {
          width: 2.5rem;
          height: 2.5rem;
          font-size: 1.5rem;
        }
      }
    }
  }
}
