@import '@legends/styles/base';

.podium {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 3rem 0 2.875rem;
  gap: .75rem;

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($whiteText, 0.05);
    width: 7.5rem;
    position: relative;
    border-radius: .5rem;
  }

  .avatar {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.5rem;
    border-radius: 2.5rem;
    background-color: $blue-200;
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .contentWrapper {
    position: relative;
    border-radius: 0.5rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -2rem;
    flex: 1;

    .avatar {
      z-index: 2;
    }
  }

  .currentUserWrapper {
    display: flex;
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    flex-wrap: wrap;
    justify-content: center;

    .currentUserContentWrapper {
      display: flex;

      .name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 5.625rem;
      }
    }
  }

  .xp {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-bottom: auto;
  }

  .name {
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: .5rem;
    line-height: 1rem;
    color: $primaryText;
  }

  .position1 {
    order: 2;
    height: 11.75rem;
    position: relative;
    z-index: 2;

    .contentWrapper {
      top: -3rem;
    }
    .xp {
      font-weight: 600;
      font-size: 1.75rem;
    }

    .xp, .name {
      color: $goldDecorative;
    }
    .avatar {
      border: 0.125rem solid $goldDecorative;
      margin-bottom: 1.125rem;
    }
  }

  .position2 {
    order: 1;
    height: 8.125rem;
    position: relative;
    z-index: 4;
    border-right: none;

    .xp, .name {
      color: $silverDecorative;
    }

    .avatar {
      width: 4rem;
      border: 0.125rem solid $silverDecorative;
      margin-bottom: .6875rem;

    }
  }

  .position3 {
    order: 3;
    height: 6.875rem;
    position: relative;
    z-index: 4;
    border-left: none;
    
    .xp, .name {
      color: $bronzeDecorative;
    }
    .avatar {
      width: 4rem;
      border: 0.125rem solid $bronzeDecorative;
      margin-bottom: 1.25rem;
    }
  }
}
