@import '@legends/styles/base';

.podium {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 3rem 0 2rem;

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondaryBackground;
    width: 7.5rem;
    border: 0.0625rem solid $primaryBorder;
    position: relative;
  }

  .avatar {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.5rem;
    border-radius: 2.5rem;
    background-color: $secondaryBackground;
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .contentWrapper {
    position: relative;
    border-radius: 0.5rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -2rem;
    flex: 1;

    .avatar {
      z-index: 2;
    }
  }

  .currentUserWrapper { 
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
    font-size: 0.75rem;

    .currentUserContentWrapper {
      display: flex;
    }
  }

  .xp {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem; // 20px to rem
    margin-bottom: auto;
  }

  .name {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem; // 16px to rem
    color: $primaryText;
  }

  .trophy {
    width: 1.5rem;
    height: 1.5rem;
    color: $goldDecorative;
  }

  .position1 {
    order: 2;
    background-color: $goldBackground;
    border-radius: 0.375rem 0.375rem 0 0;
    height: 13.5rem;
    position: relative;
    z-index: 2;
    border: .0625rem solid $goldDecorative;

    .contentWrapper {
      top: -3rem;
    }
    .xp {
      color: $goldText;
      margin-bottom: 1.4375rem;
    }
    .avatar {
      border: .125rem solid $goldDecorative;
    }
  }

  .position2 {
    order: 1;
    background-color: $silverBackground;
    border: .0625rem solid $silverDecorative;
    border-radius: 0.375rem 0 0 0.375rem;
    height: 10.75rem;
    position: relative;
    z-index: 4;
    border-right: none;

    .xp {
      color: $silverText;
    }
    .avatar {
      width: 4rem;
      border: .125rem solid $silverDecorative;
    }
  }

  .position3 {
    order: 3;
    background-color: $bronzeBackground;
    border: .0625rem solid $bronzeDecorative;
    height: 9.25rem;
    border-radius: 0 0.375rem 0.375rem 0;
    position: relative;
    z-index: 4;
    border-left: none;

    .xp {
      color: $bronzeText;
    }

    .avatar {
      width: 4rem;
      border: .125rem solid $bronzeDecorative;
    }
  }
}
