@import '@legends/styles/base.scss';

.table {
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;

  td {
    padding: 0 0 0.75em;
  }

  thead {
    font-weight: bold;
  }

  tbody:before {
    content: ' ';
    display: block;
    margin: 0 0 1em;
  }

  .link {
    text-decoration: underline;
  }
}

.spinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11.25rem;
}
