@import '@legends/styles/base.scss';

.wrapper {
  background-color: $tertiaryBackground;
  border-radius: 0.5rem;

  padding-top: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;

  .heading {
    .title {
      font-weight: 500;
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }
    &.nonExpandable {
      cursor: default;
    }
    display: flex;
    .chevronIcon {
      margin-left: auto;
      transition: 0.2s max-height ease-in-out;
      color: $secondaryText;
      width: 1rem;
      height: 1rem;

      &.open {
        transform: rotate(180deg);
      }
    }
  }
  .dropdown {
    border-radius: $primaryBorderRadius;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    &.open {
      max-height: 32px;
    }
  }
}
