@import '@legends/styles/base.scss';

.wrapper {
  display: flex;
  gap: 1.875rem;
  margin-bottom: 1.25rem;

  .column {
    display: flex;
    flex-direction: column;
    flex: 1;

    .stepper {
      display: grid;
      grid-auto-rows: 1fr;
      gap: 0.625rem;

      .step {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .stepNumber {
          display: flex;
          flex: none;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
          line-height: 2rem;
          width: 3rem;
          height: 3rem;
          color: $primaryText;
          background: $primaryBackground;
          border: 1px solid $tertiaryBorder;
          border-radius: 50%;
        }

        .stepTitle {
          display: flex;
          align-items: center;
          font-size: 1.125rem;
          font-weight: 400;
          color: $secondaryText;
        }
      }
    }

    .image,
    .video {
      border-radius: $secondaryBorderRadius;
    }

    .image {
      width: 100%;
      height: auto;
    }

    .video {
      min-height: 15.625rem;
      height: 100%;
      width: 100%;
    }
  }
}

.link {
  color: $success;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.copySection {
  font-size: 1rem;
}
.copyField {
  background-color: $primaryBackground;
  border: 1px solid $primaryBorder;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.copyIcon {
  cursor: pointer;
}

.copyHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copySectionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.boldText {
  font-weight: 700;
}

@include breakpoint-down-from(medium-desktop) {
  .wrapper {
    gap: 1.40625rem;
    margin-bottom: 0.9375rem;

    .column {
      .stepper {
        gap: 0.75rem;

        .step {
          gap: 1.125rem;

          .stepNumber {
            font-size: 1.5rem;
            line-height: 1.5rem;
            width: 3rem;
            height: 3rem;
          }

          .stepTitle {
            font-size: 0.984375rem;
          }
        }
      }

      .video {
        min-height: 11.71875rem;
      }
    }
  }

  .link {
    font-size: 0.75rem;
  }

  .copySection {
    font-size: 0.75rem;
  }

  .copyField {
    padding: 0.375rem;
  }

  .copySectionWrapper {
    margin-bottom: 0.75rem;
  }
}
