@import '@legends/styles/base.scss';

.button {
  @include primary-button;
  width: 16.5rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.text {
  font-size: 0.875rem;
  color: $tertiaryText;
}

.error {
  color: $error;
  text-decoration: underline;
  text-underline-offset: 0.3em;
  font-weight: bold;
  margin-bottom: 1rem;
}
