@import '@legends/styles/base.scss';

.wrapper {
  @include container;
  padding-top: 1.25rem;
  text-align: center;

  .logo {
    width: 10rem;
    height: auto;
  }

  .mb {
    margin-bottom: 1.5rem;
  }

  .mbLg {
    margin-bottom: 3rem;
  }

  .title {
    font-size: 3rem;
    line-height: 3.9375rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }

  .subtitle {
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
  }

  .subtitleLg {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 2rem;
  }

  .text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .textMb {
    margin-bottom: 1rem;
  }
}
