@import '@legends/styles/base.scss';

.modal {
    width: 46.5625rem;
    // height: 42.1875rem;

    border-radius: $tertiaryBorderRadius;
    border: 0.25rem solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient($secondaryBackground, $secondaryBackground), 
                    linear-gradient(152.35deg, rgba(207, 162, 255, 0.6) 9.38%, rgba(78, 25, 168, 0.6) 96.89%);
    // Don't judge me, I don't know how to make this work otherwise!
    transform: scale(0.85) !important;
}

.congratsModal {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: 4rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: .8125rem;
    }

    .text {
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 2rem;
        color: $whiteText;
    }

    .openedChestWrapper {
        margin-bottom: 2.9375rem;
        position: relative;

        .chestOpenedImage {
            width: 16rem;
            height: 17.3125rem;
        }

        .prize { 
            font-size: 2.25rem;
            font-weight: 800;
            color: $purple-600;
            position: absolute;
            left: 6rem;
            top: 5.25rem;
            z-index: 2;
        }

        .star {
            position: absolute;
            left: 0.275rem;
            top: -0.625rem;
            z-index: 1;     
            animation: pulse 2.1s linear forwards;
        }
    }

    .button {
        @include primary-button;
        font-size: 1rem;
        align-self: center;
        max-width: 18.75rem;
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -o-transform: scale(2.5);
        -ms-transform: scale(2.5);
        transform: scale(2.5);
    }
    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    }
}