@import '@legends/styles/base.scss';

.modal {
    width: 47.5rem;
    height: 45rem;
    transform: scale(0.8);
}

.congratsModal {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-family: Sentient;
        font-size: 4rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: .625rem;
    }

    .text {
        font-family: Sentient;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 2rem;
    }

    .openedChestWrapper {
        margin-bottom: 2rem;
        position: relative;

        .chestOpenedImage {
            width: 43.75rem;
            height: 24.72rem;
        }

        .prize { 
            font-size: 2.25rem;
            font-weight: 500;
            color: $primaryText;
            position: absolute;
            left: 19rem;
            top: 10.25rem;
            display: flex;
            gap: 0.25rem;
        }

        .star {
            position: absolute;
            left: 13.375rem;
            top: 4.375rem;
            animation: pulse 2.1s linear forwards;
        }
    }

    .button {
        @include primary-button;
        font-size: 1rem;
        color: $secondaryAccent;
        align-self: center;
        max-width: 18.75rem;
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -o-transform: scale(2.5);
        -ms-transform: scale(2.5);
        transform: scale(2.5);
    }
    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}