@import '@legends/styles/base.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .discordLink {
    @include secondary-button;
  }

  .socials {
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;

    .social {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.375rem;
      width: 2rem;
      height: 2rem;
      font-size: 1.25rem;
      color: $primaryText;
      background-color: $primaryBackground300;
      border-radius: $primaryBorderRadius;

      &.discordSocial {
        display: none;
      }
    }
  }

  @media screen and (max-height: 799px) {
    .discordLinkWrapper {
      display: none;
    }
    .socials {
      .social {
        &.discordSocial {
          display: flex;
        }
      }
    }
  }
}
