@import '@legends/styles/base.scss';

.podium {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2rem;
    margin-top: 3rem;

    .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1.75rem;
        background-color: $secondaryBackground;
        width: 7.5rem;
        border-color: $primaryBorder;
        border-style: solid;
        position: relative;
    }

    .avatar {
        width: 4rem;
        height: 4rem;
        margin-bottom: 0.5rem;
        border-radius: 2.5rem;
    }

    .contentWrapper {
        padding: 1rem;
        position: relative;
        border-radius: 0.5rem;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: -2rem;

        .avatar {
            z-index: 2;
        }
    }

    .xp {
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 20px;
    }

    .name {
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 16px;
        color: $primaryText;
        margin-bottom: 0.25rem;
    }

    .throphy {
        width: 1.5rem;
        height: 1.5rem;
        color: $goldDecorative;
    }

    .first {
        order: 2;
        background-color: $tertiaryBackground;
        border-radius: 6px 6px 0px 0px;
        height: 11rem;

        .contentWrapper {
            top: -4rem;
        }
        .xp {
            color: $goldText;
        }
        .avatar {
            border: .0625rem solid $goldDecorative;
        }
    }
    
    .second {
        order: 1;
        border-radius: 6px 0px 0px 6px;
        height: 8.75rem;
        .xp {
            color: $silverText;
        }
        .avatar {
            border: .0625rem solid $silverDecorative;
        }
    }
    
    .third {
        order: 3;
        height: 7.25rem;
        border-radius: 0px 6px 6px 0px;

        .xp {
            color: $bronzeText;
        }

        .avatar {
            border: .0625rem solid $bronzeDecorative;
        }
    }
}