@import '@legends/styles/base.scss';

.link {
  color: $accent;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.copySection {
  font-size: 1rem;
}
.copyField {
  background-color: $charcoal;
  border: .0625rem solid $primaryBorder;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.copyIcon {
  cursor: pointer;
  color: $whiteText;
}

.copyHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copySectionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.boldText {
  font-weight: 700;
}

@include breakpoint-down-from(medium-desktop) {
  .link {
    font-size: 0.75rem;
  }

  .copySection {
    font-size: 0.75rem;
  }

  .copyField {
    padding: 0.375rem;
  }

  .copySectionWrapper {
    margin-bottom: 0.75rem;
  }
}
