@import '@legends/styles/base.scss';

.wrapper {
  position: static;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem 0;
  font-size: 1.25rem;
  line-height: 1.3125rem;
  font-weight: 500;
  user-select: none;

  .iconWrapper {
    font-size: 1rem;
  }

  .iconWrapper {
    color: $tertiaryText;
    opacity: 0.6;
  }

  .span {
    color: $secondaryText;
  }

  &.active {
    padding-left: .75rem;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 2rem;
      height: .1875rem;
      background-color: $primaryText;
    }
    span,
    .iconWrapper {
      color: $primaryText;
      opacity: 1;
    }
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .iconWrapper {
    width: 1.25rem;
    display: flex;
    justify-content: center;
  }

  span {
    line-height: 1;
    padding-top: 0.125rem;
  }
}
