@import '@legends/styles/base.scss';

.wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 0;
  color: $secondaryText;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.3125rem;
  font-weight: 500;

  &.active {
    color: $primaryText;
  }

  .iconWrapper {
    width: 1.25rem;
    display: flex;
    justify-content: center;
  }
}
