@import '@legends/styles/base.scss';

.wrapper {
  @include container;
  padding-top: 4rem;
  text-align: center;

  .logo {
    width: 15rem;
    height: auto;
  }

  .title {
    font-size: 3rem;
    line-height: 3.9375rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }

  .error {
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .subtitle {
    font-size: 1.1rem;
    margin-bottom: 4rem;
  }

  .button {
    @include primary-button;
    width: 16rem;
    margin: 0 auto;
  }
}
