@import '@legends/styles/base.scss';

.wrapper {
  background-color: $tertiaryBackground;
  border: 1px solid $tertiaryBorder;
  border-radius: $secondaryBorderRadius;
  padding: 0.75rem;

  .content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;

    .image {
      width: 2.75rem;
      height: 2.75rem;
    }

    .textAndTitle {
      display: flex;
      flex-direction: column;

      .title {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.125rem;
        margin-bottom: 0.25rem;
      }
      .text {
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.125rem;
        color: $secondaryText;
      }
    }
  }
  .button {
    @include secondary-button;
  }


  @media screen and (max-height: 800px) {
    .content {
      margin-bottom: 0rem;
      .text {
        display: none;
      }
      
      .title {
        gap: 0;
        margin-bottom: 0rem;
      }
    }

  }
}
