@import '@legends/styles/base.scss';

.wrapper {
  background-color: $tertiaryBackground;
  border: 1px solid $primaryBorder;
  border-radius: $primaryBorderRadius;
  padding: 0.5rem 0.75rem 0.75rem;

  .content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;

    .image {
      width: 2.75rem;
      height: 2.75rem;
    }

    .textAndTitle {
      display: flex;
      flex-direction: column;

      .title {
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.125rem;
        text-transform: uppercase;
      }
      .text {
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1.125rem;
        color: $secondaryText;
      }
    }
  }
  .button {
    @include secondary-button;
  }
}
