@import '@legends/styles/base';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  .title {
    color: $primaryText;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.6375rem;
    padding-bottom: 0.75rem;
  }

  .subtitle {
    color: $secondaryText;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3931rem;
    max-width: 44.5rem;
  }

  .table {
    display: flex;
    flex-direction: column;
    max-width: 45rem;
    width: 100%;
  }

  .header,
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    padding: 0.75rem 1.3125rem;
    border: 0.0625rem solid $primaryBorder;
    border-radius: $secondaryBorderRadius;
    margin-bottom: 0.375rem;
    background-color: $secondaryBackground;

    .cell {
      flex: 3.8 1 0%;
      color: $secondaryText;
      display: flex;
      align-content: center;

      &:last-child {
        text-align: right;
        flex: 0.5 1 0%;
        justify-content: flex-end;
      }
    }
  }
  .header {
    .cell {
      text-transform: uppercase;

      &:nth-child(1) {
        padding-left: 1.75rem;
      }
    }
  }

  .row {
    color: $secondaryText;

    .cell:first-child {
      display: flex;
      align-items: center;
      color: $primaryText;
    }

    .cell:last-child {
      color: $primaryText;
      justify-content: flex-end;
    }
  }

  .rankWrapper {
    display: flex;
    align-items: center;
    width: 1.25rem;
    justify-content: center;
    margin-right: 0.5rem;
  }
  .rank {
    height: 1.25rem;
    width: 1.25rem;
    text-align: center;
    color: $primaryText;
  }

  .rankedRow1,
  .rankedRow2,
  .rankedRow3 {
    .cell,
    .cell:first-child,
    .cell:last-child {
      color: inherit;
    }
  }

  .rankedRow1 {
    background-color: $goldBackground;
    border-color: $goldDecorative;
    color: $goldText;
  }

  .rankedRow2 {
    background-color: $silverBackground;
    border-color: $silverDecorative;
    color: $silverText;
  }

  .rankedRow3 {
    background-color: $bronzeBackground;
    border-color: $bronzeDecorative;
    color: $bronzeText;
  }

  .highlightRow {
    background-color: #f0f8ff;
  }

  .currentUserRow {
    background-color: $tertiaryBackground;
    border-color: $primaryBorder;
    border-width: 0.0625rem;
    border-style: solid;

    .avatar {
      background-color: $secondaryBackground;
    }
  }

  .trophy {
    width: 1.25rem;
    height: 1.25rem;
    align-items: center;
  }

  .firstPlaceThrophy {
    color: $goldDecorative;
  }

  .secondPlaceThrophy {
    color: $silverDecorative;
  }

  .thirdPlaceThrophy {
    color: $bronzeDecorative;
  }

  .avatar {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 0.75rem;
    margin: 0 0.25rem 0 0;
    background-color: $tertiaryBackground;
  }
}
