@import '@legends/styles/base';

.tooltip {
  font-family: $primaryFont !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  

  .heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2.6375rem;
    padding-bottom: 1rem;
  }

  .subtitle {
    color: $whiteText;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.3931rem;
    max-width: 44.5rem;
  }

  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 47rem;
    width: 100%;
    background-color: $secondaryBackground;
    padding: 1rem;
    border-radius: 1rem;
  }

  .header,
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    padding: 0.75rem 1rem;
    margin-bottom: .5rem;
    width: calc(100% - 2rem);

    .cell {
      display: flex;
      align-content: center;
      
      &:first-child {
        flex: 5;
      }
      
      &:nth-child(2),
      &:nth-child(3) {
        flex: 1.5;
      }
      &:last-child {
        text-align: right;
        flex: 1;
        justify-content: flex-end;
      }
      .weightText {
        margin-right: 0.25rem;
      }
    }
  }
  .header {
    .cell {
      text-transform: uppercase;
      font-size: 0.875rem;
      font-weight: 700;
      color: rgba($tertiaryText, 0.64);

      h5 {
        font-weight: 700;

        color: rgba($tertiaryText, 0.64);
      }
    }

    .playerCell {
      margin-left: 1.15rem;
    }
  }

  .row {
    color: $whiteText;
    border-radius: $secondaryBorderRadius;

    .cell:first-child {
      display: flex;
      align-items: center;
    }

    .cell:last-child {
      justify-content: flex-end;
      font-weight: 500;
    }
    
  }

  .rankWrapper {
    display: flex;
    align-items: center;
    width: 1.25rem;
    justify-content: center;
    margin-right: 0.5rem;
  }
  .rank {
    height: 1.25rem;
    width: 1.25rem;
    text-align: center;
  }

  .rankedRow1 {
    .cell:last-child, .trophy {
      color: $goldDecorative;
    }
    .addressSkeleton {
      background-color: $secondaryBackground;
    }
  }

  .currentUserRow {
    border-color: $accent;
    border-width: .0625rem;
    border-style: solid;
    background-color: rgba($tertiaryText, 0.1);
    z-index: 2;
    width: 100%;

    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
   
    .addressSkeleton {
      background-color: $secondaryBackground;
    }

  }

  .rankedRow2 {
    .cell:last-child, .trophy {
      color: $silverDecorative;
    }
  }

  .rankedRow3 {
    .cell:last-child, .trophy {
      color: $bronzeDecorative;
    }
  }

  .highlightRow {
    background-color: #f0f8ff;
  }

  .trophy {
    align-items: center;
  }

  .firstPlaceThrophy {
    color: $goldDecorative;
  }

  .secondPlaceThrophy {
    color: $silverDecorative;
  }

  .thirdPlaceThrophy {
    color: $bronzeDecorative;
  }

  .avatar {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 0.75rem;
    margin: 0 0.25rem 0 0;
    background-color: $secondaryBackground;
  }

  .addressSkeleton {
    width: 8.75rem;
    height: 1.125rem;
  }
}
