@import '@legends/styles/base';

.tooltip {
  font-family: $primaryFont !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  .title {
    color: $primaryText;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.6375rem;
    padding-bottom: 0.75rem;
  }

  .subtitle {
    color: $secondaryText;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3931rem;
    max-width: 44.5rem;
  }

  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 47rem;
    width: 100%;
  }

  .header,
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    padding: 0.75rem 1.3125rem;
    margin-bottom: 0.375rem;
    width: calc(100% - 2rem);
    .cell {
      color: $secondaryText;
      display: flex;
      align-content: center;

      &:first-child {
        flex: 5;
      }

      &:nth-child(2),
      &:nth-child(3) {
        flex: 1.5;
      }
      &:last-child {
        text-align: right;
        flex: 1;
        justify-content: flex-end;
      }
      .weightText {
        margin-right: 0.25rem;
      }
    }
  }
  .header {
    .cell {
      text-transform: uppercase;
      font-size: 0.875rem;
    }

    .playerCell {
      margin-left: 1.15rem;
    }
  }

  .row {
    color: $secondaryText;
    border-radius: $secondaryBorderRadius;
    border: 0.0625rem solid $primaryBorder;
    background-color: $secondaryBackground;

    .cell:first-child {
      display: flex;
      align-items: center;
      color: $primaryText;
    }

    .cell:last-child {
      color: $primaryText;
      justify-content: flex-end;
      font-weight: 500;
    }
    .cell.weight {
      color: $secondaryText;
    }
  }

  .rankWrapper {
    display: flex;
    align-items: center;
    width: 1.25rem;
    justify-content: center;
    margin-right: 0.5rem;
  }
  .rank {
    height: 1.25rem;
    width: 1.25rem;
    text-align: center;
    color: $primaryText;
  }

  .rankedRow1,
  .rankedRow2,
  .rankedRow3 {
    .cell,
    .cell:first-child,
    .cell:last-child {
      color: inherit;
    }
  }

  .rankedRow1 {
    background-color: $goldBackground;
    border-color: $goldDecorative;
    color: $goldText;

    .addressSkeleton {
      background-color: $secondaryBackground;
    }
    .address {
      color: $goldText;
    }
  }

  .currentUserRow {
    background-color: $tertiaryBackground;
    border-color: $tertiaryBorder;
    border-width: 0.1rem;
    border-bottom-width: 0.1875rem;
    border-style: solid;
    width: 100%;

    .avatar {
      background-color: $secondaryBackground;
    }
    .addressSkeleton {
      background-color: $secondaryBackground;
    }

    .address {
      color: $secondaryText;
    }
  }

  .rankedRow2 {
    background-color: $silverBackground;
    border-color: $silverDecorative;
    color: $silverText;

    .address {
      color: $silverText;
    }
  }

  .rankedRow3 {
    background-color: $bronzeBackground;
    border-color: $bronzeDecorative;
    color: $bronzeText;

    .address {
      color: $bronzeText;
    }
  }

  .highlightRow {
    background-color: #f0f8ff;
  }

  .trophy {
    align-items: center;
  }

  .firstPlaceThrophy {
    color: $goldDecorative;
  }

  .secondPlaceThrophy {
    color: $silverDecorative;
  }

  .thirdPlaceThrophy {
    color: $bronzeDecorative;
  }

  .avatar {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 0.75rem;
    margin: 0 0.25rem 0 0;
    background-color: $tertiaryBackground;
  }

  .addressSkeleton {
    width: 8.75rem;
    height: 1.125rem;
  }
}
