@import '@legends/styles/base.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8rem 2rem 6rem;
  background-size: cover;

  @include on-mobile {
    display: none;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      text-align: center;
      color: $primaryBackground;
      font-size: 3rem;
      text-shadow: 0 0.25rem $landingBoxShadow;
      margin-bottom: 2.5rem;
    }
    .button {
      width: 20.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .topLinesDeco,
      .bottomLinesDeco {
        width: 99%;
        height: auto;
      }

      .topLinesDeco {
        transform: rotate(180deg);
      }
      .buttonInner {
        margin: 0.5rem 0;
        @include primary-button;
        color: $landingAccent;
        text-transform: none;
        font-size: 1.25rem;
        height: 4rem;
        font-weight: 500;
        border-color: $landingAccent;
        box-shadow: 0 0.1563rem $landingAccent;
      }
    }
  }
}
