.skeleton {
  animation: pulse .7s ease-in-out infinite alternate;
  animation-timing-function: ease; 
}

.skeleton.low-opacity {
  animation: pulse-low-opacity .7s ease-in-out infinite alternate; 
}

/* Animation keyframes */
@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse-low-opacity {
  0% {
    opacity: 0.05;
  }
  100% {
    opacity: 0.15;
  }
}