@import '@legends/styles/base.scss';

// DON'T NEST CLASSES SO STYLES CAN BE OVERWRITTEN
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;
  backdrop-filter: blur(0.5rem);

  &.open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;

    .modal {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.modal {
  position: relative;
  background-color: $secondaryBackground;
  border-radius: $tertiaryBorderRadius;
  padding: 2.75rem;
  border: 0.25rem solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient($secondaryBackground, $secondaryBackground), 
                    linear-gradient(152.35deg, rgba(207, 162, 255, 0.6) 9.38%, rgba(78, 25, 168, 0.6) 96.89%);


  width: 30rem;
  opacity: 0.5;
  transform: scale(0.7);
  transition: opacity 0.3s ease-out, transform 0.2s ease-out;
  transform-origin: top;
  
  .closeButton {
    position: absolute;
    right: 1rem;
    top: 1rem;
    
    svg {
      width: 2rem;
      height: 2rem;
      
      rect {
        stroke: $secondaryText;
      }
      
      path {
        fill: $secondaryText;
      }
    }
  }
  
 
  
  @include breakpoint-down-from(medium-desktop) {
    padding: 2rem;
    padding-top: 2.5rem;

    .closeButton {
      right: 0.75rem;
      top: 0.75rem;

      svg {
        width: 1.75rem;
        height: 1.75rem;
      }
    }
  }
}

.heading {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.text {
  font-size: 0.875rem;
  color: $secondaryText;
  line-height: 1.25rem;
  margin-bottom: 1.25rem;
  white-space: pre-wrap;
}
